*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* .Photo_Container{
    width: 829px;
    border-radius: 20.45px;
    overflow: hidden;
    border: 2px solid red;
} */


.webPicCapture{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: fit-content;
    border-radius: 20.45px 20.45px 0px 0px;
    background: rgba(255, 255, 255, 1);
}

.webcam{
    border-radius: 20.45px 20.45px 0px 0px;
    padding-bottom: 1rem;
    width: 512px;
}
.logInLogOut{
    display: flex;
    gap: 50px;
}

.login{
    width: 192px;
    height: 100px;
    border-radius: 10.29px;
    background: rgba(255, 255, 255, 1);
}
.logOut{
    width: 192px;
    height: 100px;
    border-radius: 10.29px;
    background: rgba(255, 255, 255, 1);
}
.breaktime{
    width: 272px;
    height: 100px;
    border-radius: 10.29px;
    background: rgba(255, 255, 255, 1);
}