*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SuccessContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SuccessMessage{
    width: 436px;
    height: 415px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}